body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

hr {
   border: dotted #9cdace 6px;
   border-bottom: none;
   width: 5%;
   margin: 100px auto;
}

a {
   color:deepskyblue;
   font-family:'Montserrat', sans-serif;
   margin: 10px 20px;
   text-decoration: none;
}

a:hover {
   color: #043f57;
}

h1 {
   font-size: 4.652rem;  
   color: #66BFBF ;
}

h2{
   font-size: 1.652rem;
   color: #66bfbf;
   font-weight:normal;
   font-family:'Montserrat', sans-serif;
   padding-bottom: 10px;

}

h3 {
   font-size: 1.332rem;
   color: #11999e;
}
.top-container {
    background-color:#EAF6F6;
    position: relative;
   padding: 100px;
}
}
 .middle-container {
      position: relative;
      padding: 100px;

}

 .bottom-container {
     margin: 50px;
     background-color: #EAF6F6;
     padding: 25px 0px 25px;
}

.cloud-top {
   position: absolute;
   right: 300px;
   top: 40px;
    
}

.cloud-bottom {
    
 position: absolute;
   left: 250px;
   bottom: 500px;
}

.mountain {
  padding: 50px;
  position: relative;
  top: 150px;
}
.skill-row {
   width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;
   line-height: 2;
}

.img-profile {
   padding: 50px;
}

.skill-img {
   width: 25%;
   float: left;
   margin-right: 25px;
}

.skill-img2 {
   width: 25%;
   float:right;
   margin-left: 25px;
}

.GIT {
   text-align: center;
   line-height: 2;
   width: 30%;
   margin: 40px auto 60px;
}

.btn {
   background: #11cdd4;
   background-image: -webkit-linear-gradient(top, #11cdd4, #11999a);
   background-image: -moz-linear-gradient(top, #11cdd4, #11999a);
   background-image: -ms-linear-gradient(top, #11cdd4, #11999a);
   background-image: -o-linear-gradient(top, #11cdd4, #11999a);
   background-image: linear-gradient(to bottom, #11cdd4, #11999a);
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   font-family:'Montserrat', sans-serif;
   color: #ffffff;
   font-size: 20px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
 }
 
 .btn:hover {
   background: #30e3cb;
   background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
   background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
   text-decoration: none;
 }

 .copyrights {
    color: #9b9db6;
    font-size: 0.75rem;
 }